<%-include('../../partials/header.ejs')%>
<%-include('../../partials/navBar.ejs')%>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Editar artigo</h2>
        </div>
        
       <div class="card-body">
        <form action="/articles/update" method="POST">
            <input type="hidden" value="<%=article.id%>" name="id">
            <input  class="form-control" type="text" name="title" placeholder="<%=article.title%>"><br>
            <textarea class="form-control" placeholder="<%=article.body%>" name="body"></textarea><br>
            <label>Categoria</label>
            <select name="category" class="form-control">
                <%categories.forEach((category)=>{%>
                   <%if(category.id == article.id){%>
                    <option value="<%=category.id%>" selected><%=category.title%></option>
                    <%}else{%>
                        <option value="<%=category.id%>"><%=category.title%></option>
                    <%}%>
                    
                <%})%>
            </select><br>
            <button class="btn btn-success" type="submit">Atualizar</button>
        </form>
       </div>
    </div>
</div>


<%-include('../../partials/footer.ejs')%>