<%-include('../../partials/header.ejs')%>
<%-include('../../partials/navBar.ejs')%>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Edição de categoria</h2>
        </div>
        
       <div class="card-body">
        <form action="/categories/update" method="POST">
            <input  class="form-control" type="text" name="title" value="<%=categoria.title%>"><br>
            <input type="hidden" value="<%=categoria.id%>" name="id">
            <button class="btn btn-success" type="submit">Atualizar</button>
        </form>
       </div>
    </div>
</div>


<%-include('../../partials/footer.ejs')%>